.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar h1 {
  margin: 0;
}

.navbar .dropdown-menu button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

.navbar .dropdown-menu button:hover {
  background-color: #555;
}

