.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #ffec00, #ff0000);
  color: white;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.navbar .dropdown-menu button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.navbar .dropdown-menu button:hover {
  color: #ffec00;
}