@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spinner 1s linear infinite;
  margin: 20vh auto; 
  display: block; 
}

.error-message {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  margin-top: 2em;
  padding: 20px;
  background-color: rgba(192, 0, 0, 0.548);
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-radius: 8px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh; 
}

.error-message button {
  margin-top: 1em;
  padding: 7px 20px;
  margin-left: .8rem;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error-message button:hover {
  background-color: #555;
}
